/* 商品图片 */
.content{
	width: 100%;
	height: 100%;
	background: #f8f8f8;
}
.topImg{
	position: relative;
	height: 710rpx;
}
.topImg image{
	display: block;
	width:100%;
	height:100%;
}
.topImg view{
	position: absolute;
	top: 20rpx;
	width: 76rpx;
	height: 76rpx;
	background: #1f1f1f;
	opacity: 0.6;
	border-radius: 50%;
	text-align: center;
	line-height: 76rpx;
}
.topImg view.arrow{
	left: 20rpx;
}
.topImg view.cart{
	right: 120rpx;
}
.topImg view.more{
	right: 20rpx;
}
.topImg view .iconfont{
	font-size: 36rpx;
	color: #fff;
}
/* 商品信息 */
.product{
	box-sizing: border-box;
	padding: 20rpx 35rpx 26rpx 26rpx;
	background: #fff;
}
.norms{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 684rpx;
}
.norms text{
	display: inline-block;
	width: 554rpx;
	height: 74rpx;
	font-size: 30rpx;
	line-height: 32rpx;
	font-weight: bold;
	color: #404040;
}
/* 分享按钮 */
.shareBox{
	position:relative;
}
.shareBox .share{
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 44rpx;
	height: 64rpx;
	margin-left: 90rpx;
}
button[plain]{
	border: none !important;
}
.shareBox .shareBtn{
	position: absolute;
	top:0;
	right:0;
	width: 44rpx;
	height: 64rpx;
}
.shareBox .share .iconfont{
	font-size: 50rpx;
	margin-right: 16rpx;
}
.shareBox .share text{
	font-size: 20rpx;
	line-height: 24rpx;
	color: #0e0e0e;
}
/* 价格范围 */
.priceBox{
	font-size: 34rpx;
	line-height: 20rpx;
	color: #fa380a;
	box-sizing: border-box;
	padding: 20rpx 0;
}
.priceBox text{
	font-size: 58rpx;
	line-height: 20rpx;
	color: #fa380a;
}
/* 快递及已拼单件数 */
.express text{
	font-size: 26rpx;
	line-height: 24rpx;
	color: #505050;
}
.express .saleNum{
	margin-left: 92rpx;
}
/* 优惠券 */
.coupon{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 21rpx 48rpx 27rpx 25rpx;
	margin: 10rpx 0 15rpx;
	box-sizing: border-box;
	background: #fff;
}
.couponBox{
	display: flex;
	flex-direction: column;
}
.couponBox view{
	display: flex;
	align-items: center;
}
.couponBox view:first-child{
	margin-bottom: 15rpx;
}
.couponBox view image{
	width:140rpx;
	height:32rpx;
	margin-right: 10rpx
}
.couponBox view text{
	font-size: 26rpx;
	color: #434343;
}
.coupon icon{
	font-size: 40rpx;
	color: #b1b1b1;
}
.serviceBox{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 23rpx 48rpx 20rpx 50rpx;
	box-sizing: border-box;
	background: #fff;
}
.serviceBox view text{
	font-size: 26rpx;
	line-height: 29rpx;
	font-weight: bold;
	color: #505050;
}
.serviceBox icon{
	display: block;
	font-size: 40rpx;
	color: #b1b1b1;
	margin-top: -10rpx;
}
/* 拼团样式*/
.assemble{
	margin: 10rpx 0;
	padding: 31rpx 32rpx 42rpx 26rpx;
	background: #fff;
}
.assemble .collageTitle{
	display: flex;
	position: relative;
	justify-content: space-between;
	font-size: 14px;
	margin-bottom: 23rpx;
} 
/* 滚动内容 */
.assemble .collageBox{
	background: #fff;
}
.assemble .collageBox .collageBoxItem{
	height: 100rpx;
}
/* 滚动的每一条数据 */
.assemble .collageBox .scrollitem{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 17rpx;
	box-sizing: border-box;
}
/* 数据中的用户 */
.assemble .collageBox .scrollitem .user{
	display: flex;
	justify-content: center;
	align-items: center;
}
/* 用户头像 */
.assemble .collageBox .scrollitem .user .image{
	width: 71rpx;
	height: 71rpx;
	margin-right: 21rpx;
}
.assemble .collageBox .scrollitem .user .image image{
	width: 100%;
	height: 100%;
	border-radius:50%;
}
/* 用户名字 */
.assemble .collageBox .scrollitem .user .name{
	color: #353535;
	font-size: 30rpx;
	line-height: 70rpx;
}
/* 拼单 */
.assemble .collageBox .scrollitem .settlement{
	display: flex;
	align-items: center;
}
/* 拼单内容 */
.assemble .collageBox .scrollitem .settlement .discrepancy{
	text-align: center;
	margin-right: 44rpx;
}
/* 差几人 */
.assemble .collageBox .scrollitem .settlement .peopleNum{
	font-size: 26rpx;
	font-weight: 800;
}
/* 剩余时间 */
.assemble .collageBox .scrollitem .settlement .time{
	font-size: 18rpx;
}
.scrollitem .settlement .time text{
	color: #f00;
}
/* 拼单按钮 */
.assemble .collageBox .scrollitem .settlement button{
	width: 135rpx;
	height: 59rpx;
	font-size: 34rpx;
	color: #fff;
	background:#fb3609;
	line-height: 59rpx;
	padding: 0;
}
/* 商品详情样式结束 */
.empty{
	width: 750rpx;
	height: 10rpx;
	background: #eee;
}
/* 评价部分 */
.appraise{
	margin-top: 18rpx;
	background:#fff;
}
/* 评价标题 */
.appraise .appraiseTitle{
	display: flex;
	justify-content: space-between;
	align-items: center; 
	padding: 39rpx 33rpx 13rpx 24rpx;
	font-size: 34rpx;
}
/* 标题中的更多 */
.appraise .appraiseTitle view .more1{
	color: #b1b1b1; 
}
.appraise .appraiseTitle view .iconfont{
	font-size: 36rpx;
	color: #b1b1b1;
}
/* 评价内容 */
.appraise .appraiseNav .nav{
	display: inline-block;
	height: 49rpx;
	font-size: 14px;
	line-height: 49rpx;
	padding: 0 13rpx;
	margin-top: 23rpx; 
	margin-left: 27rpx;
	border-radius: 25rpx;
	background: #fcd8d1;
	box-sizing: border-box;
}
/* 评价数量 */
.appraise .appraiseNav .nav .num{
	font-size: 12px;  
}
/* 用户评价 */
.appraise .appraiseItem{
	border-bottom: 17rpx solid #f2f6f5;
	padding: 23rpx 28rpx 27rpx 23rpx;
	box-sizing: border-box;
}
/* 用户 */
.appraise .appraiseItem .appraiseUser{
	display: flex;
	height: 56rpx;
	line-height: 56rpx;
	font-size: 25rpx;
	margin-bottom: 24rpx;
}
/* 用户头像 */
.appraise .appraiseItem .appraiseUser .image{
	width: 56rpx;
	height: 56rpx;
	background:#999;
	border-radius: 28rpx;
	margin-right: 19rpx;
}
/* 用户评价内容 */
.appraise .appraiseItem .appriaseContent{
	font-size: 30rpx;
}
.appraise .appraiseItem .appriaseImage{
	display: flex;
	flex-wrap: wrap;
	/* justify-content: space-around; */
	margin-top: 16rpx;
}
.appraise .appraiseItem .appriaseImage image{
	width: 210rpx;
	height: 210rpx;
	margin:11rpx;
}
/* 商品详情样式开始 */
.goodsRecommend{
  background: #fff;
}
.goodsRecommend .recommendTitle{
	height: 100rpx;
	color: #111;
	font-size: 36rpx; 
	line-height: 100rpx;
	padding-left: 19rpx;
}
/* 详情内容 */
.goodsRecommend .goodsList{
	display: flex;
	/* justify-content: space-around; */
	flex-wrap:wrap;
	width: 100%;
	padding: 5rpx 13rpx;
	box-sizing: border-box;
	background: #eee;  
}
/* 内容的每一项 */
.goodsRecommend .goodsList .goodsItem{
	width: 230rpx;
	height: 340rpx;
	margin: 6rpx;
	background: #fff; 
}
/* 每一项的图片 */
.goodsRecommend .goodsList .goodsItem .goodsImg{
	width: 100%;
	height: 260rpx;
}
.goodsRecommend .goodsList .goodsItem .goodsImg image{
	width:100%;
	height:100%; 
}
.goodsRecommend .goodsList .goodsItem .goodsMsg view{
	margin: 0;
	padding: 0;
}
.goodsRecommend .goodsList .goodsItem .goodsMsg .goodsTitle{
	height: 42rpx;
	line-height: 42rpx;
	font-size: 18rpx;
	text-align: center;
}
.goodsRecommend .goodsList .goodsItem .goodsMsg .goodsShop{
	display: flex;
	align-items: center;
	font-size: 16rpx;
	padding: 0 16rpx;
	box-sizing: border-box;
}
.goodsRecommend .goodsList .goodsItem .goodsMsg .goodsShop .goodsIcon{
	display: inline-block;
	width: 30rpx;
	height: 10rpx; 
}
.goodsRecommend .goodsList .goodsItem .goodsMsg .goodsShop .goodsPrice{
	margin: 0 12rpx;
	font-size: 10rpx;
	color: #dd2700;
}
.goodsRecommend .goodsList .goodsItem .goodsMsg .goodsShop .goodsPrice .num{
	font-size: 16rpx;
}
/* 商品按钮 */
.goodsRecommend .goodsList .goodsItem .goodsMsg .goodsShop button{
	display: inline-block;
	width: 75rpx;
	height: 23rpx;
	color:#fff;
	background:#dd2700;
	border-radius: 8rpx;
	font-size: 10rpx;
	padding: 0;
}

.person{
	width: 100%;
	/* height: 100%; */
}
.person image{
	display: block;
	width: 100%;
	height: 60vh;
	/* background-size: cover; */
}
/*底部*/
.footer{
	display: flex;
	position: fixed;
	bottom: 0;
	left: 0;
	width:750rpx;
	height:100rpx;
	background: #fff;
}
.footer-list{
	display: flex;
	align-items: center;
}
.footer-list .iconfont{
	font-size: 38rpx;
}
.footer-list-lis{
	display: flex;
	flex-direction: column;
	width:52rpx;
	text-align: center;
	margin-left:30rpx;
}
.footer-list-lis text{
	font-size: 16rpx;
}
/* 发起拼单 */
.footer-list-1{
	width:247rpx;
	height:100rpx;
	background: #ffcec9;
	line-height: 100rpx;
	text-align: center;
	font-size: 30rpx;
	color:#fff;
	margin-left:20rpx;
}
/* 单独购买 */
.footer-list-2{
	width:247rpx;
	height:100rpx;
	background: red;
	color:#fff;
	font-weight: 600;
	line-height: 100rpx;
	text-align: center;
	font-size: 30rpx;
}

/*添加购物车*/
.van-popup--bottom{
	overflow: visible!important;
}
.footer-shop{
	width:100%;
	height:765rpx;
	padding-left: 55rpx;
	box-sizing: border-box;
	background: #fff;
}
.footer-shop .content{
	display: flex;
}
.footer-shop .content image{
	width:240rpx;
	height: 240rpx;
	border-radius: 10rpx;
	box-shadow: 4rpx 0 8rpx 2rpx #ccc;
	transform: translateY(-68rpx);
}
.footer-shop .content .footer-shop-right{
	flex: 1;
	display: flex;
	flex-direction: column;
	height:170rpx;
	margin-top:15rpx;
	margin-left: 40rpx;
}
.footer-shop .content .footer-shop-right text:nth-child(1){
	font-size: 30rpx;
	color:#d60e15;
}
.footer-shop .content .footer-shop-right text:nth-child(2),.footer-shop .content .footer-shop-right text:nth-child(3){
	font-size: 30rpx;
	color:#343434;
	margin-top: 14rpx;
	margin-bottom: 18rpx;
}
.footer-shop .content .footer-shop-right .iconfont{
	position: absolute;
	top:20rpx;
	right:20rpx;
	font-size: 30rpx;
}
.footer-shop .size{
	width: 100%;
	height: 110rpx;
	line-height: 110rpx;
	font-size: 38rpx;
	color:#343434;
}
.footer-shop .list text{
	display: inline-block;
	padding:10rpx 33rpx;
	background: #dcdcdc;
	font-size: 24rpx;
	color:#2e2e2e; 
	border-radius: 15rpx;
	margin-right: 54rpx;
}
.footer-shop .list text.active{
	color: #fff;
	background: #fb3609;
}
.footer-shop .btn{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 90rpx;
	background: #fb3609;
	color: #fff;
	font-size: 40rpx;
	line-height: 90rpx;
	text-align: center;
}
.number{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 110rpx;
	font-size: 38rpx;
	color:#343434;
	padding-right:55rpx;
	box-sizing: border-box;
}
.number1 {
	display: flex;
	height: 100%;
	font-size: 24rpx;
	align-items: center;
	text-align: center;
}

.number1 .add, .number1 .remove {
	width: 46rpx;
	height: 55rpx;
	line-height: 55rpx;
	text-align: center;
	border: 1rpx solid #e7e7e7;
}

.number1 input {
	width: 100rpx;
	height: 55rpx;
	line-height: 55rpx;
	border: 1rpx solid #e7e7e7;
	border-left: 0;
	border-right: 0;
}
